<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/add.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Document</title>
</head>

<body>
    <div class="header">
        <div class="container">
            <div class="header-con">
                <div class="logo-container">
                    <a href="/">AXIOS</a>
                </div>
                <!-- <ul class="menu">
                    <li class="menu-link">
                        <a href="">ABOUT</a>
                    </li>
                    <li class="menu-link">
                        <a href="">CONTACT</a>
                    </li>
                    <li class="menu-link">
                        <a href="">BLOG</a>
                    </li>
                    <li class="menu-link">
                        <a href="">LOGIN
                        </a>
                    </li>
                </ul> -->
                <!-- <div class="mobile-menu">
                    <a href=""><i class="bi bi-three-dots"></i></a>
                </div> -->
            </div>
        </div>
    </div>

    <div class="content">
        <div class="container">
            <div class="box">
                <form method="POST">
                    <h2>Add Topic</h2>
                    <div class="box-name">
                        <input type="name" class="form-control" id="name" name="name" placeholder="Please enter name">
                    </div>
                    <div class="topic-name">
                        <input type="name" class="form-control" id="topicname" name="topicname"
                            placeholder="Please enter topic name">
                    </div>
                    <div class="text">
                        <textarea id="content" class="form-control" name="content"
                            placeholder="Please enter content"></textarea>
                    </div>
                    <div class="btn">
                        <button type="submit" class="btn btn-success">SENT</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>