<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/home.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Document</title>
</head>

<body>
    <div class="header">
        <div class="container">
            <div class="header-con">
                <div class="logo-container">
                    <a href="/">AXIOS</a>
                </div>

            </div>
        </div>
    </div>

    <div class="content">
        <div class="container">
            <div class="button">
                <a href="/add">
                    <img class="plus" src="../images/plus.png" alt="">
                </a>
            </div>
            <div class="blog">
                <div class="row">
                    <% if(result.length> 0) { %>
                        <% for (i=0;i<result.length;i++) { %>
                            <div class="col-md-4">
                                <div class="topic">
                                    <h4>
                                        <%= result[i].topicname %>
                                    </h4>

                                    <br>
                                    <b> Author by : </b>
                                    <%= result[i].name %><br>
                                        <b> Content : </b>
                                        <%= result[i].message %>

                                </div>

                            </div>
                            <% } %>
                                <% } else { %>
                                    <h5>Not have a topic.</h5>
                                    <% } %>
                </div>
            </div>
        </div>
    </div>
</body>

</html>